{% extends 'base.html.twig' %}

{% block title %}Hello Password !{% endblock %}

{% block body %}

<div class="container">
    <h1 class="m-3">Password!</h1>
    {{form_start(form)}}
        {{form_widget(form)}}
        <button type="submit" class="btn btn-secondary">Modifier</button>
        <a href="{{path('app_account_home')}}" class="btn btn-primary">Retour !</a>
    {{form_end(form)}}
    
</div>

{% endblock %}
