.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
body{background-color: #f3efef; padding-bottom: 10em;}

a{color: indianred;}
a:hover{color: indianred;}

.ad-title{background-size: cover; background-position: center center;}

.carousel-caption{color: #000;text-shadow: 3px 3px 3px rgba(0,0,0,0.5);}

.avatar{width: 8em;height: 8em; border-radius: 50%;}
.avatar-medium{max-width: 4em;max-height: 4em;}
.avatar-small{max-width: 2em;max-height: 2em;}

footer{position: fixed;bottom: 0;width: 100%; color: #f3efef;}