{% extends 'base.html.twig' %}

{% block title %} 403 not found !{% endblock %}

{% block body %}


<h1 style="text-align: center; white-space: pre-wrap;">Awww...Don’t Cry.</h1>
<p style="text-align: center; white-space: pre-wrap;">It's just a 403 Error! 
    <br>What you’re looking for may have been misplaced in Long Term Memory.
    <br>
    <br>
    &nbsp;
</p>


     
     


{% endblock %}
